<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Stress Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            text-align: center;
        }
        main {
            margin: auto;
            width: 60%;
            padding: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Stress Test with Flask</h1>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <h4> Go to the Main page: <a href="/">All Tests</a></h4>
    </footer>
</body>
</html>
