{% extends "base.html" %}

{% block content %}
  <p>Select a stress test to begin:</p>
  <ul>
    <li><a href="{{ url_for('start_cpu_stress') }}">CPU Stress Test</a></li>
    <li><a href="{{ url_for('start_ram_stress') }}">RAM Stress Test</a></li>
    <li><a href="{{ url_for('start_disk_io_stress') }}">Disk I/O Stress Test</a></li>
    <li><a href="{{ url_for('start_disk_write_stress') }}">Disk Write Stress Test</a></li>
    <li><a href="{{ url_for('start_full_stress') }}">Complete System Stress Test</a></li>
  </ul>
{% endblock %}